# I. Introduction to Python > 03. Strings

#### [<< Previous lesson](./02_Variables.ipynb)   |   [Next lesson >>](./04_Lists.ipynb)

<hr>
&nbsp;

## Table of content

- [1. Create a string](#1)
- [2. Print a String](#2)
- [3. String Basics](#3)
- [4. Built-in methods](#4)
- [5. Format strings](#5)
- [Credits](#credits)

<hr>
&nbsp;

## <a id='1'></a>1. Create a string

To create a string in Python you need to use either single quotes ```''``` or double quotes```""```.

In [1]:
# Single word
'hello'

'hello'

In [2]:
# Entire phrase 
'This is also a string'

'This is also a string'

In [3]:
# We can also use double quote
"String built with double quotes"

'String built with double quotes'

In [4]:
# Be careful with quotes!
' I'm using single quotes, but this will create an error'

SyntaxError: invalid syntax (<ipython-input-4-da9a34b3dc31>, line 2)

In [5]:
# This works however
"Now I'm ready to use the single quotes inside a string!"

"Now I'm ready to use the single quotes inside a string!"

In [6]:
# We can also use an escape sequence with \
'This is a \"Jupyter\" notebook'

'This is a "Jupyter" notebook'

<hr>
&nbsp;

## <a id='2'></a>2. Print a string

In [7]:
# We can simply declare a string
'Hello World'

'Hello World'

In [8]:
# But we can't output multiple strings this way
'Hello World'
'This is a python tutorial'

'This is a python tutorial'

In [9]:
# Fot this, we use print()
print('Hello World')
print('This is a python tutorial')
print('Use \n to print a new line')
print('\n')
print('See what I mean?')

Hello World
This is a python tutorial
Use
 to print a new line


See what I mean?

<hr>
&nbsp;

## <a id='3'></a>3. String basics

In [10]:
# Count the length of a string
len('Hello World')

11

In [11]:
# Assign string
string = 'Hello World'

In [12]:
# Show first element (in this case a letter)
string[0]

'H'

**NOTE:** Remember that the indexes of strings always **start at 0**

In [13]:
string[1]

'e'

In [14]:
string[2]

'l'

We can use a <code>:</code> to perform **slicing** which grabs everything up to / from a designated point.

In [15]:
# Grab everything past the first term all the way to the length of s which is len(s)
string[1:]

'ello World'

In [16]:
# Grab everything UP TO the 3rd index
string[:3]

'Hel'

In [17]:
# Grab everything FROM 2nd index UP TO the 7th index
string[2:7]

'llo W'

In [18]:
#Everything
string[:]

'Hello World'

In [19]:
# Last letter (one index behind 0 so it loops back around)
string[-1]

'd'

In [20]:
# Grab everything but the last letter
string[:-1]

'Hello Worl'

In [21]:
# Grab everything, but go in steps size of 1
string[::1]

'Hello World'

In [22]:
# Grab everything, but go in step sizes of 2
string[::2]

'HloWrd'

In [23]:
# We can use this to print a string backwards
string[::-1]

'dlroW olleH'

&nbsp;

**NOTE:** Strings are **immutable**. This means that once a string is created, the elements **within** it **can not be changed or replaced**

In [24]:
string

'Hello World'

In [25]:
# Let's try to change the first letter to 'x'
string[0] = 'x'

TypeError: 'str' object does not support item assignment

In [26]:
string

'Hello World'

In [27]:
# Concatenate strings!
string + ' concatenate me!'

'Hello World concatenate me!'

In [28]:
# We can reassign s completely though!
string = string + ' concatenate me!'

In [29]:
string

'Hello World concatenate me!'

In [30]:
# We can use the multiplication symbol to create repetition!
letter = 'z'
letter*10

'zzzzzzzzzz'

&nbsp;

## <a id='4'></a>4. Built-in methods

Objects in Python usually have **built-in methods**. These methods are **functions** inside the object that can perform actions or commands on the object itself.

**Syntax :**  ```object``` **.** ```method``` **(** ```parameters``` **)**

In [31]:
string

'Hello World concatenate me!'

In [32]:
# Upper Case a string
string.upper()

'HELLO WORLD CONCATENATE ME!'

In [33]:
# Lower case
string.lower()

'hello world concatenate me!'

In [34]:
# Capitalize
string.capitalize()

'Hello world concatenate me!'

In [35]:
# Split a string by blank space (this is the default)
string.split()

['Hello', 'World', 'concatenate', 'me!']

In [36]:
# Split by a specific element (doesn't include the element that was split on)
string.split('W')

['Hello ', 'orld concatenate me!']

In [37]:
# replace a character
string.replace('o','a')

'Hella Warld cancatenate me!'

In [38]:
# join
"#".join(string)

'H#e#l#l#o# #W#o#r#l#d# #c#o#n#c#a#t#e#n#a#t#e# #m#e#!'

In [39]:
# Center
string = "a word"
print(string.center(20, '*'))

*******a word*******

In [40]:
# Find
string = "programming"
print(string.find('p'))

0

In [41]:
print(string.find('m'))

6

In [42]:
print(string.find('t'))

-1

In [43]:
# Strip
string = "     programming is easy    "
string.strip()

'programming is easy'

&nbsp;

## <a id='5'></a>5. Format strings

In [44]:
# use str() to convert types
str(3.3333)

'3.3333'

In [45]:
# But be careful
a = str(5)
a*10

'5555555555'

In [46]:
# use + to concatenate strings together
player = 'Thomas'
points = 33
'Last night, '+player+' scored '+str(points)+' points.'

'Last night, Thomas scored 33 points.'

In [47]:
# However you can't mix types
'Last night, '+player+' scored '+points+' points.'

TypeError: can only concatenate str (not "int") to str

In [48]:
# Insert something into {} by using .format() 
'Insert here --> {}'.format('The inserted string')

'Insert here --> The inserted string'

In [49]:
# we can change the order of the insertions 
'The {2} {1} {0}'.format('fox','brown','quick')

'The quick brown fox'

In [50]:
# Inserted objects can be assigned keywords
'1st Object: {a}, 2nd Object: {b}, 3rd Object: {c}'.format(a=1, b='Two', c=12.3)

'1st Object: 1, 2nd Object: Two, 3rd Object: 12.3'

In [51]:
# we can duplicate variables easily
'A {p} saved is a {p} earned.'.format(p='penny')

'A penny saved is a penny earned.'

In [52]:
# we can also make tables with format
# the curly braces assign field lengths, left/right alignments, and more
print('{0:8} | {1:9}'.format('Fruit', 'Quantity'))
print('{0:8} | {1:9}'.format('Apples', 3))
print('{0:8} | {1:9}'.format('Oranges', 7))

Fruit    | Quantity
Apples   |         3
Oranges  |         7

In [53]:
# use `<`,`^`, or `>` to set a left, center or right alignment
print('{0:<8} | {1:^8} | {2:>8}'.format('Left','Center','Right'))
print('{0:<8} | {1:^8} | {2:>8}'.format(11,22,33))

Left     |  Center  |    Right
11       |    22    |       33

In [54]:
# we can also fill the space with a padding character
print('{0:=<8} | {1:-^8} | {2:.>8}'.format('Left','Center','Right'))
print('{0:=<8} | {1:-^8} | {2:.>8}'.format(11,22,33))

Left==== | -Center- | ...Right
11====== | ---22--- | ......33

--> For more information on the string `.format()` method check https://docs.python.org/3/library/string.html#formatstrings

&nbsp;

There is also **Formatted string literals** (or **f-strings**) that can bring **outside variables** immediately into to the string rather than pass them as arguments through `.format(var)`.

In [55]:
# use 'f' ridght after print(
name = 'Joe'
print(f"He said his name is {name}.")

He said his name is Joe.

In [56]:
# this method also allow to set the floating point precision
num = 3.145678
print(f"My 10 character, four decimal number is:{num:{10}.{4}}")

My 10 character, four decimal number is:     3.146

--> For more info on formatted string literals check https://docs.python.org/3/reference/lexical_analysis.html#f-strings

&nbsp;

Check the [python documentation](https://docs.python.org/3/library/stdtypes.html#text-sequence-type-str) for more information on Strings

<hr>
&nbsp;

## <a id="credits"></a>Credits
- [Pierian Data](https://github.com/Pierian-Data/Complete-Python-3-Bootcamp)
- [Tanu Nanda Prabhu](https://github.com/Tanu-N-Prabhu/Python)