# I. Introduction to Python > 15. Built-in functions (Part 1)


**[<< Previous lesson](./14_Classes.ipynb)   |   [Next lesson >>](./16_List-comprehensions.ipynb)**

<hr>
&nbsp;

<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Introduction" data-toc-modified-id="Introduction-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Introduction</a></span></li><li><span><a href="#Useful-functions-for-numbers" data-toc-modified-id="Useful-functions-for-numbers-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Useful functions for numbers</a></span></li><li><span><a href="#enumerate()" data-toc-modified-id="enumerate()-3"><span class="toc-item-num">3&nbsp;&nbsp;</span><code>enumerate()</code></a></span></li><li><span><a href="#zip()" data-toc-modified-id="zip()-4"><span class="toc-item-num">4&nbsp;&nbsp;</span><code>zip()</code></a></span></li><li><span><a href="#input()" data-toc-modified-id="input()-5"><span class="toc-item-num">5&nbsp;&nbsp;</span><code>input()</code></a></span></li><li><span><a href="#eval()-and-expressions-vs.-statements" data-toc-modified-id="eval()-and-expressions-vs.-statements-6"><span class="toc-item-num">6&nbsp;&nbsp;</span><code>eval()</code> and expressions vs. statements</a></span></li><li><span><a href="#Credits" data-toc-modified-id="Credits-7"><span class="toc-item-num">7&nbsp;&nbsp;</span>Credits</a></span></li></ul></div>

<hr>
&nbsp;

## Introduction

We have already seen quite a few examples of built-in functions in the previous lessons:
- ```len()```
- ```type()```
- ```print()```
- ```int()```
- ```float()```
- ```bool()```
- ```bin()```
- ```isinstance()```
- ```all()```
- ```any()```
- ```sorted()```
- ```format()```
- ```range()```

Let's explore some more useful functions

<hr>
&nbsp;

## Useful functions for numbers


- ```abs()```
- ```round()```
- ```min()```
- ```max()```
- ```sum()```
- ```divmod()```

In [1]:
# Return the absolute value of a number
abs(-5)

5

In [2]:
# Return rounded value (by default an integer)
round(3.1415)

3

In [3]:
# but we can also define how many decimals we want (here 2)
round(3.1415, 2)

3.14

In [4]:
# get the minimum
min(0,1,2,3,4,5,6)

0

In [5]:
# get the maximum
max(0,1,2,3,4,5,6)

6

In [6]:
# it works also with lists, tuples, dictionaries
list1 = [0,1,2,3,4,5,6]
min(list1)

0

In [7]:
# and also for any characters that can be compared
list2 = ('a', 'b', 'c', 'd', 'e')
max(list2)

'e'

In [8]:
# when applied to dictionaries it compares the keys
d = {'a':5, 'b':4, 'c':3, 'd':2, 'e':1}
min(d)

'a'

In [9]:
# calculate the sum
sum(list1)

21

In [10]:
# divmod() return the quotient and remainder of a division
divmod(7,2)  #  = (7//2, 7%2)

(3, 1)

<hr>
&nbsp;

## ```enumerate()```

```enumerate()``` is a very useful function that adds a counter while going through a sequence

In [11]:
word = 'abcdef'

In [12]:
for i,letter in enumerate(word):
    print("At index", i, "the letter is", letter)

At index 0 the letter is a
At index 1 the letter is b
At index 2 the letter is c
At index 3 the letter is d
At index 4 the letter is e
At index 5 the letter is f

In [13]:
# which is a simpler version of

i = 0
for letter in word:
    print("At index", i, "the letter is", letter)
    i += 1

At index 0 the letter is a
At index 1 the letter is b
At index 2 the letter is c
At index 3 the letter is d
At index 4 the letter is e
At index 5 the letter is f

In [14]:
# We can also choose the start of the counter
for i,letter in enumerate(word, 10):
    print("At index", i, "the letter is", letter)

At index 10 the letter is a
At index 11 the letter is b
At index 12 the letter is c
At index 13 the letter is d
At index 14 the letter is e
At index 15 the letter is f

In [15]:
# Remember that we can easily slice a sequence
word[2:]  # only consider the letters of word starting from index 2

'cdef'

In [16]:
# so if we only want to iterate through a subsequence, we can do this
for i,letter in enumerate(word[2:], 2):
    print("At index", i, "the letter is", letter)

At index 2 the letter is c
At index 3 the letter is d
At index 4 the letter is e
At index 5 the letter is f

<hr>
&nbsp;

## ```zip()```

In [17]:
# notice the format enumerate actually returns
list(enumerate(word))

[(0, 'a'), (1, 'b'), (2, 'c'), (3, 'd'), (4, 'e'), (5, 'f')]

It's a list of tuples

In [18]:
# we can actually do something similar with zip()
# let's first define 2 lists we want to "zip" together
index = [0,1,2,3,4]
mylist = ['a','b','c','d','e']

In [19]:
# Now let's zip them together
zipped_list = zip(index, mylist)

In [20]:
# zip() returns a iterator, but we don't need to worry about it for now
zipped_list

This is a *iterator* (but don't worry about it for now). What matters is that we can easily convert it to a list.

In [47]:
# we convert the iterator into a list
list(zipped_list)

[]

In [22]:
# so we can get the same as enumerate()
for i,letter in zip(index, mylist):
    print("At index", i, "the letter is", letter)

At index 0 the letter is a
At index 1 the letter is b
At index 2 the letter is c
At index 3 the letter is d
At index 4 the letter is e

In [23]:
# But we can zip anything together
mylist2 = ['v', 'w', 'x', 'y', 'z']
another_zip = zip(mylist2, word)

In [24]:
# show
list(another_zip)

[('v', 'a'), ('w', 'b'), ('x', 'c'), ('y', 'd'), ('z', 'e')]

In [25]:
# a more complicated example
word = "python"
n = len(word)

for reversed_i, letter in zip(range(n-1, -1, -1), word[::-1]):
    print("At index", reversed_i, "the letter is", letter)

At index 5 the letter is n
At index 4 the letter is o
At index 3 the letter is h
At index 2 the letter is t
At index 1 the letter is y
At index 0 the letter is p

In [26]:
# remember that range(start, stop, step) - with stop excluded
list(range(10, -1, -1))

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [27]:
# and that
word[::-1]

'nohtyp'

In [28]:
# Note that if we zip list of different length
x = [1,2,3]
y = [4,5,6,7,8]

list(zip(x,y))

[(1, 4), (2, 5), (3, 6)]

It will stop at the end of the shortest one.

In [29]:
# we can also zip dictionaries together
d1 = {'a':1,'b':2}
d2 = {'c':4,'d':5}

list(zip(d1,d2))

[('a', 'c'), ('b', 'd')]

In [30]:
# and now we can easily mix them
list(zip(d2,d1.values()))

[('c', 1), ('d', 2)]

&nbsp;

We can also use `zip()` to **unzip** elements (i.e. to group subelements togethers).

In [49]:
# Let's imagine the following list of people
full_name_list = [('Joe', 'Schmoe', 23),
                  ('Earnst', 'Ehlmann', 65),
                  ('Thomas', 'Fischer', 11),
                  ('Martin', 'Walter', 36),
                  ('Charles', 'Rogan', 83)]

In [50]:
# Let's group the 1st name together, as well as the last names and ages
first_name, last_name, age = list(zip(*full_name_list))

In [51]:
# show
print(first_name)
print(last_name)
print(age)

('Joe', 'Earnst', 'Thomas', 'Martin', 'Charles')
('Schmoe', 'Ehlmann', 'Fischer', 'Walter', 'Rogan')
(23, 65, 11, 36, 83)

<hr>
&nbsp;

## ```input()```

In [31]:
# press CTRL + ENTER and you will be ask to type some inputs
input('Enter Something into this box: ')

Enter Something into this box: Something

'Something'

![Input function](./attachments/input().png)

In [32]:
# of course we can save what you typed
your_number = input("Enter any number of your choice:")

Enter any number of your choice:3.14

In [33]:
# show
your_number

'3.14'

In [34]:
# But be careful, what you typed in considered as a string
type(your_number)

str

In [35]:
# remember that we can use the string method .isdigit() to check the input
your_number.isdigit()

False

In [36]:
# there also exist a string method .isalpha()
your_number.isalpha()

False

**NOTE:** the following string methods can help you check the properties of a string:

- ```isalnum()``` returns True if all characters in the string are alphanumeric
- ```isalpha()``` returns True if all characters in the string are in the alphabet
- ```isdecimal()``` returns True if all characters in the string are decimals
- ```isdigit()``` returns True if all characters in the string are digits
- ```isnumeric()``` returns True if all characters in the string are numeric
- ```islower()``` returns True if all characters in the string are lower case
- ```isupper()``` returns True if all characters in the string are upper case

<hr>
&nbsp;

## ```eval()``` and expressions vs. statements

In [37]:
# eval() evaluates a string expression
eval("2 ** 8")

256

In [38]:
# but if we did this instead
"2 ** 8"

'2 ** 8'

In [39]:
# another example
x = 1000
eval("x + sum([8, 16, 32])")

1056

In [40]:
"x + sum([8, 16, 32])"

'x + sum([8, 16, 32])'

**NOTE:** an **expression** is different from a **statement**.

As a rule of thumb, if you can **print it**, or **assign it** to a variable, it’s an **expression**. If you can’t, it’s a statement.

An expression can only contains:
- names of variables, functions, objects, also called **identifiers**
- objects of basic data types, also called **literals** (string, numbers, lists, tuples, booleans...)
- arithmetic or boolean **operators**

Some examples of expressions

    2 + 2 
    3 * 7 
    1 + 2 + 3 * (8 ** 9) % 4 
    min(2, 22) 
    max(3, 94) 
    round(81.5) 
    "Joe" 
    "Welcome" 
    "Welcome" + "Joe" 
    None 
    True 
    False 
    2 
    3 
    4.0
    X == 10

Some examples of statements

    X = 10
    if CONDITION: 
    elif CONDITION: 
    else: 
    for VARIABLE in SEQUENCE: 
    while CONDITION: 
    def MYFUNCTION():

In [41]:
# example of a valid expression
X = 0
eval("X == 10")

False

In [42]:
# example of an invalid expression
X = 0
eval("X = 10")

SyntaxError: invalid syntax (<string>, line 1)

In [45]:
# we can use eval together with input
your_input = eval(input("Enter an expression of your choice:"))

Enter an expression of your choice:True

In [46]:
# but now, your_number is evaluate for what it actually is
type(your_input)

bool

Run the last 2 cells and enter inputs of the following types to see what happens:
- integer
- float
- bool
- string without quotes
- string with quotes
- an expression
- a statement

&nbsp;

Check the [python documentation](https://docs.python.org/3/library/functions.html) for more information on built-in functions.



<hr>
&nbsp;

## Credits
- [Pierian Data](https://github.com/Pierian-Data/Complete-Python-3-Bootcamp)
- [Tanu Nanda Prabhu](https://github.com/Tanu-N-Prabhu/Python)
- [Real Python](https://realpython.com/python-eval-function/)
- [Programmiz](https://www.programiz.com/python-programming/methods/built-in/eval), [here](https://www.programiz.com/python-programming/variables-constants-literals) and [here](https://www.programiz.com/python-programming/keywords-identifier)
- [Stackoverflow](https://stackoverflow.com/questions/4728073/what-is-the-difference-between-an-expression-and-a-statement-in-python)
- [Quora](https://www.quora.com/Whats-the-difference-between-a-statement-and-an-expression-in-Python-Why-is-print-%E2%80%98hi%E2%80%99-a-statement-while-other-functions-are-expressions)