# I. Introduction to Python > 19. Modules (Part 2)


#### [<< Previous lesson](./18_Modules-Part-1.ipynb)   |   [Next lesson >>](./20_Errors-and-Exceptions.ipynb)

<hr>
&nbsp;

## Table of content

- [1. The random module](#1)
- [2. The math module](#2)
- [3. The operator module](#3)
- [4. reduce() and the functools module](#4)
- [Credits](#credits)

<hr>
&nbsp;

## <a id="1"></a>1. The `random` module

This module provides access to pseudo-random number generators.

In [1]:
from random import randint

In [2]:
# returns a random integer in [a, b] (both included)
randint(0, 1)

1

In [3]:
# this is quite useful to generate random list
[randint(0, 100) for _ in range(5)]  # a list of 5 elements picked randomly between 0 and 10

[18, 16, 88, 98, 94]

In [4]:
from random import shuffle

In [5]:
# inplace suffle
example = [1,2,3,4,5]
shuffle(example)

In [6]:
# show
example

[1, 2, 3, 4, 5]

In [7]:
example = list(range(20))
example

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [8]:
# returns a random element from a non-empty sequence
from random import choice
choice(example)

16

In [9]:
# we can also choose a sample (size 10 here)
from random import choices  # choices, NOT choice
choices(population=example, k=10)

[18, 17, 9, 4, 4, 13, 6, 12, 7, 14]

**NOTE:** in this case we can get the same elements several times. If instead we don't want to pick the same elements several times, we can use `sample()`.

In [10]:
from random import sample
sample(population=example, k=10)

[9, 18, 12, 15, 10, 14, 3, 2, 6, 16]

&nbsp;

**NOTE:** *pseudo-random* implies that these randomly generated numbers can be determined.

The **`seed()`** allow us to generate the same random numbers on multiple executions of the code (on the same machine or on different machines).

In [11]:
from random import seed

for i in range(3): 
    seed(0)  # Any number can be used in place of '0'
    print(randint(1, 100_000_000))

51706750
51706750
51706750

In [12]:
# And if we do this instead
seed(0)

for i in range(3): 
    print(randint(1, 100_000_000))

51706750
56448163
5433722

In [13]:
# the location of seed() is important
seed(0)
A = []
B = []

for i in range(3): 
    A.append(randint(1, 100_000_000))
    seed(0)
    B.append(randint(1, 100_000_000))

In [14]:
print(A)
print(B)

[51706750, 56448163, 56448163]
[51706750, 51706750, 51706750]

Check the [python documentation](https://docs.python.org/3/library/random.html) for more information on the random module

<hr>
&nbsp;

## <a id="2"></a>2. The `math` module

This module provides access to the mathematical tools.

In [15]:
import math

We can now access common mathematical constants

In [16]:
math.pi

3.141592653589793

In [17]:
math.e

2.718281828459045

We can also access common functions too

In [18]:
# logarithm base e
math.log(10)

2.302585092994046

In [19]:
# logarithm base 10
math.log(100,10)

2.0

In [20]:
# exponential
math.exp(10)

22026.465794806718

In [21]:
# square root
math.sqrt(9)

3.0

In [22]:
math.cos(math.pi)

-1.0

In [23]:
math.sin(math.pi/2)

1.0

and many more methods

In [24]:
math.floor(4.35)

4

In [25]:
math.ceil(4.35)

5

In [26]:
math.degrees(math.pi)

180.0

Check the [python documentation](https://docs.python.org/3/library/math.html) for more information on the math module

<hr>
&nbsp;

## <a id="3"></a>3. The `operator` module

The module `operator` provides [equivalent functions](https://docs.python.org/3/library/operator.html#mapping-operators-to-functions). of various operators.

For example:
- `a // b` is the equivalent of `floordiv(a, b)`
- `a % b` is the equivalent of `mod(a, b)`
- `a ** b` is the equivalent of `pow(a, b)`
- `a < b` is the equivalent of `lt(a, b)`

In [27]:
from operator import floordiv

In [28]:
lst1 = [7, 2, 6, 1, 0]
lst2 = [2, 1, 3, 1, 2]
list(map(floordiv, lst1, lst2))

[3, 2, 2, 1, 0]

Check the [python documentation](https://docs.python.org/3/library/operator.html) for more information on the operator module

<hr>
&nbsp;

## <a id="4"></a>4. `reduce()` and the `functools` module

The functools module provides useful features to work with **high order functions**. That is to say a function that returns a function or takes another function as an argument.

We have already seen examples of high order functions with `map()` and `filter()`. Another common function is **`reduce()`**.

In [29]:
from functools import reduce

Reduce() generate a single value by repeatdly applying a function

In [30]:
# let's take the following list
lst = [47,11,42,13]

In [31]:
# reduce() keeps reducing the sequence until it gets a single value
reduce(lambda x,y: x+y,lst)

113

![reduce](./attachments/reduce.png)

In [32]:
# We can do the same by using the (equivalent function to) operator +
from operator import add
reduce(add, lst)

113

In [33]:
# we can also give an initial value to reduce()
reduce(add, lst, 9000)

9113

In [34]:
# Let's look at the factorial of n (also written n!)
# reminder: n! = n * n-1 * n-2 * ... * 2 * 1
def factorial(n):
    result = 1
    for i in range(2, n+1):
        result *= i
    return result

In [35]:
factorial(10)

3628800

In [36]:
# we now have a new way to write it
def factorial_2(n):
    return reduce(lambda x,y: x*y, range(1, n+1))

In [37]:
factorial_2(10)

3628800

In [38]:
# we can also use the mul function (= operator *)
from operator import mul
def factorial_3(n):
    return reduce(mul, range(1, n+1))

In [39]:
factorial_3(10)

3628800

In [40]:
# let's compare the functions with timeit
%timeit factorial(10)

521 ns ± 75.8 ns per loop (mean ± std. dev. of 7 runs, 1000000 loops each)

In [41]:
%timeit factorial_2(10)

2.12 µs ± 86.6 ns per loop (mean ± std. dev. of 7 runs, 100000 loops each)

In [42]:
%timeit factorial_3(10)

634 ns ± 92.5 ns per loop (mean ± std. dev. of 7 runs, 1000000 loops each)

In [43]:
# But even faster is the math.prod() function
from math import prod
def factorial_4(n):
    return prod(range(1, n+1))

In [44]:
factorial_4(10)

3628800

In [46]:
%timeit factorial_4(10)

292 ns ± 10.2 ns per loop (mean ± std. dev. of 7 runs, 1000000 loops each)

Same as with `map()` and `filter()`, `reduce()` is not the most efficient. Especially not when combined with a lambda function.

It is better to use built-in functions like `sum()`, `any()`, `all()`, `max()`, `min()`, and `len()` which provide more efficient, readable, and Pythonic ways of tackling common use cases for `reduce()`.

&nbsp;

Check the [python documentation](https://docs.python.org/3/library/functools.html) for more information on the functools module.



<hr>
&nbsp;

## <a id="credits"></a>Credits
- [Pierian Data](https://github.com/Pierian-Data/Complete-Python-3-Bootcamp)
- [Geeks for Geeks](https://www.geeksforgeeks.org/reduce-in-python/)
- [Real Python](https://realpython.com/python-reduce-function)
- [Python course](https://www.python-course.eu/python3_lambda.php)
- [Python tips](https://book.pythontips.com/en/latest/map_filter.html)