# Part I > Introduction to Python > 08 - None, Booleans and Comparisons

#### [<< Previous lesson](./07_Sets.ipynb)   |   [Next lesson >>](./09_Bits.ipynb)

<hr>
&nbsp;

## Table of content

- [1. None type](#1)
- [2. Boolean type](#2)
- [3. Boolean operators](#3)
    - [3.1. not operator](#3.1)
    - [3.2. and operator](#3.2)
    - [3.3. or operator](#3.3)
- [4. Comparison operators](#4)
    - [4.1. Equalities and inequalities](#4.1)
    - [4.2. is operator](#4.2)
    - [4.3. in operator](#4.3)
- [Credits](#credits)

<hr>
&nbsp;

## <a id='1'></a>1. None type

In [15]:
# the None type is a placeholder
nothing = None

In [17]:
# Show
nothing

In [18]:
# print None
print(nothing)

None

In [19]:
# check the type
type(nothing)

NoneType

In [27]:
# But empty collections (), [], {} are not None
empty = []
type(empty)

list

<hr>
&nbsp;

##  <a id='2'></a>2. Boolean type

Python Boolean type has only two possible values:
- ```False``` (or 0)
- ```True``` (or anything else than 0 and None)

In [10]:
# assign a boolean
im_smart = False

In [11]:
# Show
im_smart

False

In [13]:
# check the type
type(im_smart)

bool

In [22]:
# convert numbers into bool
im_smart = -1
bool(im_smart)

True

In [27]:
# when doing boolean arithmetics, False --> 0 and True --> 1
True + False

1

In [28]:
True * False

0

In [29]:
True * 5

5

<hr>
&nbsp;

##  <a id='3'></a>3. Boolean operators

###  <a id='3.1'></a>3.1. ```not``` operator

```not``` is the only only Boolean operator that takes one argument

In [1]:
# The prefix 'not' returns the opposite truth value
done = not True

In [40]:
# show
done

False

In [35]:
# same for number (remember 0 = False, and all the rest is True)
not 0

True

In [33]:
not 5

False

In [36]:
# None is also consider False
not None

True

In [38]:
# But not empty collections [] [] {}
empty_tuple = ()
not empty_tuple

True

![not operator](./attachments/not_operator.png)

<hr>
&nbsp;

###  <a id='3.2'></a>3.2. ```and``` operator

The **```and```** operator returns **```False```** unless **all** arguments are **```True```**

In [5]:
a = True and False

In [4]:
# show
a

False

In [6]:
a = True and True and True and False
a

False

In [7]:
a = True and True and True and True
a

True

![and operator](./attachments/and_operator.png)

<hr>
&nbsp;

###  <a id='3.3'></a>3.3. ```or``` operator

The **```or```** operator returns **```True```** unless **all** arguments are **```False```**

In [8]:
a = True or False

In [9]:
# show
a

True

In [11]:
a = True or False or False or False
a

True

In [12]:
a = False or False or False
a

False

&nbsp;

**NOTE:**: when we talk, we don't use the word **or** in the same way. We use the **exclusive _or_**: *\"You can do A **or** you can do B"* kind of imply you can't do both.

Here, the operator or is used as an **inlusive _or_**, meaning **and/or**. *\"You can do A **and/or** you can do B"*. In this case you can do both.


![or operator](./attachments/or_operator.png)

<hr>
&nbsp;

##  <a id='4'></a>4. Comparison operators

###  <a id='4.1'></a>4.1. Equalities and inequalities

In [12]:
# comparing numbers also returns a boolean
1 > 2

False

The comparing operators are: 
- ```==``` Equal to
- ```!=``` Not equal to
- ```<``` Less than
- ```<=``` Less than or equal to
- ```>``` Greater than
- ```>=``` Greater than or equal to

In [23]:
# For example
2 == 2

True

In [18]:
1 == 1.00

True

In [13]:
1 != 0

True

In [14]:
2 <= 2

True

<hr>
&nbsp;

###  <a id='4.2'></a>4.2. ```is``` operator

In [17]:
a = None
a is None

True

In [21]:
# we can also use 'is not'
a = [0, 1]
a is not None

True

In [25]:
# we can also check if a data is of a certain type
isinstance(True, bool)

True

In [26]:
isinstance(5, int)

True

<hr>
&nbsp;

###  <a id='4.3'></a>4.3. ```in``` operator

In [22]:
numbers = [0, 1, 2, 3, 4, 5, 6]
2 in numbers

True

In [23]:
10 in numbers

False

In [24]:
10 not in numbers

True

In [26]:
'oe' in 'Joe'

True

<hr>
&nbsp;

###  <a id='4.4'></a>4.4. ```any``` operator

<hr>
&nbsp;

###  <a id='4.5'></a>4.5. ```all``` operator

<hr>
&nbsp;

## <a id='5'></a>5. Mixing and chaining operators

In [30]:
1 < 2 < 3 < 4

True

In [32]:
2 == 2 < 5

True

<hr>
&nbsp;

## <a id="credits"></a>Credits
- [Pierian Data](https://github.com/Pierian-Data/Complete-Python-3-Bootcamp)
- [Real Python](https://realpython.com/python-boolean/)